{% extends 'base/base.html' %}

{% block content %}


<div class="container col-lg-4 col-12">
    <h1>Bulk import</h1>

    {% for message in messages %}
        <p id="messages">{{message}}</p>
    {% endfor %}

    <form class="form-inline" method="POST">
        {% csrf_token %}
        <div>
            <textarea name="bulk_import"cols="40" rows="10" style="resize: none;"></textarea>
        </div> 
        <button class="btn btn-outline-success" type="submit">Submit file</button>            
    </form>
</div>

{% endblock %}