{% extends 'base/base.html' %}

{% block content %}

<div class="container col-12">
    <div class="row">
        <div class="col-6 mt-1 pt-1">
            <button onclick="ShowFilters(this)">Mostrar filtros</button>                         
        </div>
    </div>
    <div class="row">
        <div class="col-2 filter-list pt-3 mt-1 invisible">
            <h6>Countries</h6>
            {% for country1 in countries1 %}
                <a href="?search_sticker={{country1}}"><li>{{country1}}</li></a>
            {% endfor %}
            {% for country2 in countries2 %}
                <a href="?search_sticker={{country2}}"><li>{{country2}}</li></a>
            {% endfor %}
        </div>
        <div class="col-2 filter-list pt-3 ms-4 mt-1 invisible">
            <div class="row">
                <h6>Have</h6>            
                <a href="?figuritas=todas"><li>All</li></a>            
                <a href="?figuritas=late"><li>Late</li></a>
                <a href="?figuritas=nola"><li>Nola</li></a>
                <a href="?figuritas=repetidas"><li>Repetidas</li></a>
            </div>
            <hr>
            <div class="row">
                <a href="{% url 'home' %}" style="font-size: 12px;">Remove filters</a>
            </div>
        </div>
        
        <div class="col-11 mt-2 ms-2" id="main-table">
            <table class="table table-light table-hover table-sm">
                <thead>
                    <tr>
                        <th class="text-center">Sticker⠀</th>
                        <!-- <th>Country</th> -->
                        <th class="text-center">Count</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_sticker in page_obj %}
                    <tr>
                        <td class="text-center">{{user_sticker.id_complete}}</td>
                        <!-- <td>{{user_sticker.country}}</td> -->
                        <td class="text-center">{{user_sticker.count}}</td>
                        <td><a href="{% url 'addSticker' user_sticker.id_complete user_sticker.username %}" id='btn-add'>+1</a></td>
                        <td><a href="{% url 'subSticker' user_sticker.id_complete user_sticker.username %}" id='btn-sub'>-1</a></td>         
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>    
</div>
<div class="container col-12">
    <div class="row">
            <span class="step-links text-center">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current text-center">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>    
        </div>
</div>
    

{% endblock %}

