{% extends 'base/base.html' %}

{% block content %}

<div class="container col-12">
    <div class="row" >
        <div class="col-2 filter-list mt-lg-5 pt-3 mt-1">
            {% for country1 in countries1 %}
                <a href="?search_sticker={{country1}}"><li>{{country1}}</li></a>
            {% endfor %}
            {% for country2 in countries2 %}
                <a href="?search_sticker={{country2}}"><li>{{country2}}</li></a>
            {% endfor %}
        </div>
        <div class="col-10">
            <table class="table table-dark table-hover table-sm mt-lg-5 mt-2">
                <thead>
                    <tr>
                        <th>Sticker</th>
                        <th>Country</th>
                        <th>Count</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_sticker in page_obj %}
                    <tr>
                        <td>{{user_sticker.id_complete}}</td>
                        <td>{{user_sticker.country}}</td>
                        <td>{{user_sticker.count}}</td>
                        <td><a href="{% url 'addSticker' user_sticker.id_complete user_sticker.username %}" id='btn-add'>+1</a></td>
                        <td><a href="{% url 'subSticker' user_sticker.id_complete user_sticker.username %}" id='btn-sub'>-1</a></td>         
                    </tr>    
        
                    {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>    
</div>


    

{% endblock %}

