{% extends 'base/base.html' %}

{% block content %}


<div class="filter-panel">
        <ul class = 'country-filter'>        
            {% for country1 in countries1 %}
                <a href="http://localhost:8080/?search_sticker={{country1}}"><li>{{country1}}</li></a>
            {% endfor %}   
        </ul>
    

    
        <ul class = 'country-filter'>
            {% for country2 in countries2 %}
                <a href="http://localhost:8080/?search_sticker={{country2}}"><li>{{country2}}</li></a>
            {% endfor %}      
        </ul>
    
</div>



<div class = "table-panel">
    <table border = "5" class = 'table-home'>

            <tr>
                <th>Sticker</th>
                <th>Country</th>              
                <th>Repeated</th>
                <th>Count</th>
            </tr>

            {% for user_sticker in page_obj %}       

            <tr>
                <td class="inner">{{user_sticker.id_complete}}</td>
                <td>{{user_sticker.country}}</td>
                <td>{{user_sticker.repeated}}</td>
                <td>{{user_sticker.count}}</td>
                <td><a href="{% url 'addSticker' user_sticker.id_complete user_sticker.username %}" id='btn-add'>+1</a></td>
                <td><a href="{% url 'subSticker' user_sticker.id_complete user_sticker.username %}" id='btn-sub'>-1</a></td>         
            </tr>    

            {% endfor %}

        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
</div>


    

{% endblock %}

