{% extends 'base/base.html' %}

{% block content %}

<h1>Hello {{request.user}}</h1><span>
    
<center>
    <table border = "5">

        <tr>
            <th>Sticker</th>
            <th>Country</th>              
            <th>Repeated</th>
            <th>Count</th>
        </tr>

        {% for user_sticker in user_stickers %}       

        <tr>
            <td>{{user_sticker.id_complete}}</td>
            <td>{{user_sticker.country}}</td>
            <td>{{user_sticker.repeated}}</td>
            <td>{{user_sticker.count}}</td>
            <td><a href="{% url 'addSticker' user_sticker.id_complete user_sticker.username %}" id='btn-add'>+1</a></td>
            <td><a href="{% url 'subSticker' user_sticker.id_complete user_sticker.username %}" id='btn-sub'>-1</a></td>         
        </tr>    

        {% endfor %}

    </table>
</center>



{% endblock %}

