<!-- <header>
  <nav>
    <ul class="nav__links">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'userfinder' %}">User finder</a></li>
      <li><a href="{% url 'stickerfinder' %}">Sticker finder</a></li>
      <li><a href="{% url 'bulk' %}">Bulk import</a></li>      
    </ul>
  </nav>
  {% load static %}
  <div class="profile-div">
    <a href="" class="cta"><img src="{% static '/img/user.png' %}" alt=""> {{request.user}}</a>
    <a href="{% url 'logout' %}" class="cta"><img src="{% static '/img/logout.png' %}" alt=""></a>
  </div>
</header> -->

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Figuritas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Figuritas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'userfinder' %}">User finder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'stickerfinder' %}">Sticker finder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bulk' %}">Bulk</a>
          </li>          
          <li class="nav-item ms-lg-5">
            <img src="{% static '/img/user.png' %}" alt="">            
          </li>
          <li class="nav-item">            
            <a class="nav-link">{{request.user}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>